<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1182c0e5-ea40-4a0f-8e98-8e0b66913e6c/resourceGroups/cloud-shell-storage-westeurope/providers/Microsoft.Web/sites/REST-API-CRUD</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://rest-api-crud.azurewebsites.net/api/values</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>rest-api-crud.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>REST-API-CRUD</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$REST-API-CRUD</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>